.header-img {
  width: 100%;
  height: 400px;
  justify-items: center;
  background-repeat: no-repeat;
}

.header-img img {
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  justify-items: center;
}


@media screen and (max-width: 999px) {
  .header-img {
    margin-left: 0;
    height: 360px;
  }
}


@media screen and (max-width: 800px) {
  .header-img {
    margin-left: 0;
    height: 300px;
  }
}

@media screen and (max-width: 600px) {
  .header-img {
    margin-left: 0;
    height: 250px;
  }
}

@media screen and (max-width: 500px) {
  .header-img {
    margin-left: 0;
    height: 200px;
  }
}

@media screen and (max-width: 350px) {
  .header-img {
    margin-left: 0;
    height: 150px;
  }
}