.main-editor {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: white;
}

.main-div {
  padding-left: 1rem;
}

.flex-set {
  display: flex;
  justify-content: left;
  align-items: center;
  flex-wrap: wrap;
}

.editer {
  padding: 0.5rem 0.5rem;
}

.editer h1 {
  padding: 1px;
  margin-left: 0.8rem;
}

.blog-post-img img {
  margin: 0px 10px;
  width: 130px;
  height: 130px;
}

.blog-post-title h1 {
  padding-top: 15px;
  display: flex;
  color: black;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0.5rem 3.8rem;
}

.blog-post-title span {
  display: flex;
  flex-direction: column;
  margin-left: 4rem;
  margin-bottom: 2rem;
  font-size: 13px;
}

@media only screen and (max-width: 480px) {
  .flex-set {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .editer{
    margin-left: 1px;
  }
}
