.chairman{
  width: 100%;
  background-color: white;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.chairman-blog{
  padding: 1rem;
  margin-left: 1rem;
}

.chairman-blog-post-img{
  padding-top: 0.5rem;
}

.chairman-blog-post-img img{
  height: 150px;
  width: 150px;
}

.chairman-flex-set{
  display: flex;
}

.chairman-blog-post-title{
  padding-left: 1rem;
}  

.chairman-message p{
  font-size: 16px;
  line-height: 1.2;
  word-wrap: break-word;
  padding: 2rem 0rem;
  margin-left: 1rem;
}