* {
  box-sizing: border-box;
}

.body-block {
  font-family: "Calibri Light";
  font-size: 15px;
  font-weight: 400;
  color: #202020;
  background-color: white;
}

.figure {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 40px;
  margin-inline-end: 40px;
  overflow-x: auto;
}

.figure {
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 1em;
  margin-left: 0px;
}

.figure table {
  border-collapse: collapse;
  width: 100%;
}

.main-block {
  display: flex;
  margin-bottom: 1.75em;
  box-sizing: border-box;
  flex-wrap: wrap;
  margin-left: 0px;
}

.main-block-2 {
  margin-left: 0px;
}

.table-mian {
  display: table;
  border-color: gray;
  border-top-color: grey;
  border-right-color: grey;
  border-bottom-color: grey;
  border-left-color: grey;
}

thead {
  display: table-header-group;
  vertical-align: middle;
  border-color: inherit;
}

tr {
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}

.has-row {
  text-align: left;
}

.has-row {
  padding: 6px;
}

.has-row{
    display: table-cell;
    vertical-align: inherit;
}

.has-row-2 {
  text-align: center;
}

.has-row-2 {
  padding: 6px;
}

.has-row-2{
    display: table-cell;
    vertical-align: inherit;
}

@media (min-width: 782px) {
  .main-block {
    flex-wrap: nowrap;
  }
}

@media (min-width: 782px) {
  .main-blocl-2[style*="flex-basis"] {
    flex-grow: 0;
  }
}
