.aim {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        background-color: white;
}

.aim h1{
        padding: 2rem 1rem 1rem 2rem;
}

.aim p {
    font-size: 17px;
    padding: 0.2rem 1rem 0.2rem 3rem;
    line-height: 1.8;
    word-wrap: break-word;
}