.main-volume {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem 1rem 1rem 1rem;
}

.inp {
    padding: 0.5rem;
    font-size: 16px;
    border-radius: 0.25rem;
    border-style: solid;
    color: #ff6900;
}

.volume-btn{
  position: relative;
  border-radius: 0.25rem;
  font-size: 16.5px;
  font-weight: bold;
  padding: 0.6rem;
  cursor: pointer;
  margin-top: 1rem;
  background-color: #ff6900;
  color: white;
  border-style: none;
  box-shadow: 0.5px 1px 0.5px 1px gainsboro;
}

.volume-btn:hover{
  border-radius: 0.28rem;
  font-size: 16.5px;
  padding: 0.5rem;
  cursor: pointer;
  margin-top: 0.52rem;
  margin-bottom: 0.1rem;
  background-color: #ff6400;
  box-shadow: 0.5px 1px 1px 2px lightgray;
}


@media only screen and (max-width: 350px) {
  .inp{
    width: 96%;
  }

  .volume-btn{
    width: 30%;
  }
}