.book-main {
  background-color: white;
  width: 100%;
  padding-top: 20px;
}

.dhol {
  font-family: system-ui;
  font-size: 40px;
  padding-left: 10px;
}

.chol li {
  font-family: system-ui;
  padding: 5px;
  margin-top: 8px;
  margin-left: 40px;
}

.get {
  font-family: serif;
}

.get set {
  font-family: system-ui;
  padding: 2px;
}
.chal {
  font-family: system-ui;
  padding: 5px;
}

@media only screen and (max-width: 750px) {
  dhol {
    width: 100%;
  }
  chol {
    width: 80%;
  }
}
