.sub-main{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    background-color: white;
    padding-top: 2%;
    padding-bottom: 5%;
}

.set
{
    font-size: 40px;
    padding-left: 25px;
}
.dhol{
    font-family: system-ui;
}

.chol li{
    padding: 5px;
    font-family: system-ui;   
    margin-left: 8%;
}
.get{
    font-family: serif;
}

.get set {
    font-family: system-ui;
    padding: 2px;
}
.chal{
    font-family: system-ui;
    padding: 5px;
    
}

h3{
    padding: 5px;
    padding-left: 25px;    
}

a{
    padding-left: 40px;
    color: #ff4200;
    font-weight: bolder;
}
   

@media only screen and (max-width: 750px){
    get{
           width: 100%;
    }
    set{
        width: 80%;
    }
 
 }