.sub-main{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    background-color: white;
    padding: 3% 3% 3% 1%;
}

.sub-main h2{
    padding-left: 2rem;
  }
  
  .sub-main p{
    text-align: justify;
    padding: 0.6rem;
    padding-left: 1.5rem;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
  }

  .sub-main h3{
    padding-left: 2rem;
    font-weight: bolder;
  }

  .sub-main h4{
      padding-left: 3rem;
      padding-top: 1rem;
      font-size: 18px;
  }

.sub-main ul{
    padding-top: 1rem;
}

.sub-main li{ 
    padding: 0.4rem;
    font-family: system-ui;   
    margin-left: 8%;
}

.sub-main a{
    padding-left: 3.5rem;
    padding-top: 0.5rem;
    color: #ff4200;
    font-weight: bolder;
}
