.sub-main{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-direction: column;
    background-color: white;
    padding: 2% 0.5%;
}

.set
{
    font-size: 40px;
    padding-left: 25px;
}
.dhol{
    font-family: system-ui;
}

.chol li{
    
    font-family: system-ui;   
    padding: 5px;
}
.get{
    font-family: serif;
}

.get set {
    font-family: system-ui;
    padding: 2px;
}
.chal{
    font-family: system-ui;
    padding: 5px;
    
}
   

@media only screen and (max-width: 750px){
    get{
           width: 100%;
    }
    set{
        width: 80%;
    }
 
 }