.main-reviewer {
  background-color: white;
  width: 100%;
  padding: 3% 3% 3% 0%;
}

.main-reviewer h2{
  padding-left: 2rem;
}

.main-reviewer p{
  padding-left: 1.5rem;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}

.main-reviewer h3{
  padding-left: 2.5rem;
  font-weight: bolder;
}

.main-reviewer ul{
  padding-left: 8%;
  padding-top: 2%;
}

.main-reviewer ul li {
  margin: 10px;
}


@media only screen and (max-width: 350px) {
  .main-reviewer h2{
    padding-left: 1rem;
    font-size: 20px;
  }

  .main-reviewer p{
    padding-left: 0.5rem;
  }
}