.mission{
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

h1 .Title,h3 .sub-Mis-heading{
    word-wrap: break-word;
    font-weight: 700;
    
}
 h1 .Title{
     font-size:36px;
 }

h3 .sub-Mis-heading{
    font-size: 36px;
    word-wrap: break-word;
    font-weight: 700;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h1, h3 .sub-Mis-heading{

    margin-top: 20px;
    margin-bottom: 10px;

}
div .entry-content{
    display:block;
    line-height: 1.8;
    margin-right:30px ;
}
*{
    box-sizing: border-box;
}
p .content-page{
    color: #202020;
    font-size:20px;
    margin: 0px 0px 10px;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
div .main-content-aboutmisson{
        margin-left: 1rem;
        padding: 0.5rem 0.5rem;
}