.Cpaper{
    width: 100%;
    background-color: white;
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 3%;
}


.Cpaper h1{
    padding: 2rem 1rem 1rem 2rem;
}

.Cpaper h3{
    padding: 1rem 2rem;
    color: #ff6900;
    line-height: 1.6;
}

.Cpaper p{  
    font-size: 17px;
    padding: 0.2rem 1rem 0.2rem 3rem;
    line-height: 1.8;
    word-wrap: break-word;
}

.Cpaper a{
    text-decoration: none;
    color: #ff6900;
    cursor: pointer;
}