* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* ---------left side---------- */
.home-blog {  
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.leftside {
  margin: 0.5rem 0.5rem;
  padding: 0rem 2rem;
}

.leftside h1 {
  font-size: 36px;
  font-family: Calibri Light;
}

.leftside p {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  word-wrap: break-word;
  color: #ff6900;
}

.middle-div p {
  font-size: 18px;
  text-align: justify;
  color: #202020;
  margin: 0.5rem;
}

.middle-div a {
  margin-left: 1rem;
  color: #ff6900;
  font-size: 18px;
}

.middle-div hr {
  margin: 0.5rem;
}

.middle-div img {
  width: 98%;
  height: auto;
  overflow: hidden;
}

.img2 {
  border: 1px solid black;
  width: 98%;
}

.bot {
  margin: 0.5rem 0.1rem;
  padding-left: 2rem;
}

/* ============================================================================== */
/* --------------------media query------------------- */

@media only screen and (max-width: 900px) and (min-width: 500px) {
  .leftside {
    margin: 0.2rem 0.2rem;
    padding: 0rem 1rem;
  }

  .leftside h1 {
    font-size: 28px;
  }

  .leftside p {
    font-size: 15px;
  }

  .middle-div p {
    font-size: 17px;
  }

  .middle-div a {
    font-size: 17px;
  }
}

@media only screen and (max-width: 500px) {
  .leftside {
    margin: 0.1rem 0.1rem;
    padding: 0rem 0.8rem;
  }

  .leftside h1 {
    font-size: 25px;
  }

  .leftside p {
    font-size: 13px;
  }

  .middle-div a {
    font-size: 15px;
  }
}
