.contact-main {
  width: 100%;
  background-color: white;
  padding: 1rem 2rem 4rem 2rem;
}


.contact-main h1 {
  padding: 1rem 1rem 1rem 2rem;
}

.contact-main table{
  line-height: 1.5;
  padding: 0.2rem 1rem 1rem 3rem;
}


.contact-main span b{
  color: #ff6900;
  font-size: large;
}

.google-map {
  padding: 0.5rem 1rem 1rem 2rem;
  position: relative;
  width: 90%;
  height: 400px;
}

@media only screen and (max-width: 500px) {
      .contact-main{
        padding-left: 1rem;
      }

      .contact-main tr{
          display: flex;
          flex-direction: column;
      }

      .contact-main td{
        padding-top: 1rem;
      }

      .contact-main h1 {
        font-size: 26px;
      }

      .google-map{
        height: 310px;
      }
}

@media only screen and (max-width: 300px) {
    .contact-main h1 {
    font-size: 20px;
  }
}
