.research-main{
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 3.5%; 
    padding-bottom: 5%;
    padding-left: 0.5%;
}

 table{
     font-family: "Times New Roman";
     border-collapse:collapse;
     border:1px solid black;
     width : 100% ;
}
td, th{
     border: 1px solid #080808;
     text-align:left;
     padding: 8px;
}
tr:nth-child(even) {
    background: 1px solid #f3e8e8;
}
