.footr {
  background-color: white;
  padding: 1.5rem 0rem;
}

.footer {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #ff6900;
}

.footer h3 {
  color: white;
  text-align: center;
  padding: 0.6rem;
}

@media only screen and (max-width: 1100px) and (min-width: 700px) {
  .footer h3 {
    padding: 0.5rem;
    font-size: 14px;
  }
}

@media only screen and (max-width: 699px) and (min-width: 300px) {
  .footer h3 {
    padding: 0.4rem;
    font-size: 12px;
  }
}

@media only screen and (max-width: 299px) {
  .footer h3 {
    font-size: 10px;
  }
}
